In [223]:
import arcpy
import numpy as np
# %matplotlib inline

import matplotlib.pyplot as plt

In [165]:
arcpy.env.addOutputsToMap = True
arcpy.env.overwriteOutput = True
arcpy.env.workspace = 'Default.gdb'

In [169]:
import pandas as pd
# from arcgis.features.use_proximity import create_buffers
from arcgis.features import SpatialDataFrame
from arcgis.features import GeoAccessor
from arcgis.learn import prepare_tabulardata

In [203]:
factors = np.array(['intersection','market','hotel','bank','education','temple','office','condo','house','factory','Cafe'])
bufferLayer = 'buffers'
inputData = 'samplepoint'

In [204]:
trainLayer = GeoAccessor.from_featureclass(inputData)
buffer = arcpy.analysis.Buffer(inputData,bufferLayer,'500 Meters')

In [205]:
arcpy.env.addOutputsToMap = False
for f in factors:
    print(f)
    arcpy.analysis.SummarizeWithin(bufferLayer,f,'count')
    countDf = GeoAccessor.from_featureclass('count')
    trainLayer[f + '_count'] = countDf['Point_Count']

intersection
market
hotel
bank
education
temple
office
condo
house
factory
Cafe

In [206]:
arcpy.analysis.SummarizeWithin(bufferLayer,'l_trans','count')
countDf = GeoAccessor.from_featureclass('count')
trainLayer['road_Length'] = countDf['SUM_Length_KILOMETERS']

In [231]:
trainLayer.hist()
plt.show()

In [208]:
countDf = GeoAccessor.from_featureclass('count')
countDf['SUM_Length_KILOMETERS']
trainLayer['road_Length'] = countDf['SUM_Length_KILOMETERS']

In [210]:
list(trainLayer.columns[5:])

['intersection_count', 'market_count', 'hotel_count', 'bank_count', 'education_count', 'temple_count', 'office_count', 'condo_count', 'house_count', 'factory_count', 'Cafe_count', 'road_Length']

In [211]:
tempLayer = r'in_memory\temp'
trainLayer.spatial.to_featureclass(tempLayer)

'in_memory\\temp'

In [212]:
for f in factors:
    print(f)
    result = arcpy.Near_analysis(tempLayer,f)
    temp = GeoAccessor.from_featureclass(tempLayer,fields=['NEAR_DIST'])
    trainLayer[f + '_Dist'] = temp['NEAR_DIST']
trainLayer

intersection
market
hotel
bank
education
temple
office
condo
house
factory
Cafe

    objectid        field1        field2  ...   house_Dist factory_Dist   Cafe_Dist
0          1  1.118930e+07  1.539893e+06  ...   121.475127    21.628051  181.496923
1          2  1.118678e+07  1.540614e+06  ...   354.908952   200.005863  191.560706
2          3  1.119064e+07  1.543173e+06  ...  1659.840665    64.397973  116.270144
3          4  1.119056e+07  1.540567e+06  ...   585.023888    51.544070   70.657822
4          5  1.118731e+07  1.539573e+06  ...   507.768555   188.129194   68.857405
5          6  1.119684e+07  1.543749e+06  ...   362.635291   341.570043   92.067682
6          7  1.119284e+07  1.544861e+06  ...   232.313598   524.904338   32.273112
7          8  1.118814e+07  1.542284e+06  ...   369.598895   163.620886  152.510305
8          9  1.119024e+07  1.542996e+06  ...  1722.080215    92.266407   72.673760
9         10  1.118826e+07  1.538536e+06  ...   451.699331   264.666321  128.451357
10        11  1.119111e+07  1.543212e+06  ...  1323.181767   333.404587    9.041146
11        12  1.119457e+07  1.544597e+06  ...   567.528066   412.314608  112.419762
12        13  1.119263e+07  1.543933e+06  ...   946.920815   667.105608  139.143020
13        14  1.118798e+07  1.540457e+06  ...   133.569343   214.097597  112.917039

[14 rows x 28 columns]

In [213]:
result = arcpy.Near_analysis(tempLayer,'l_trans')
temp = GeoAccessor.from_featureclass(tempLayer,fields=['NEAR_DIST'])
trainLayer['road_Dist'] = temp['NEAR_DIST']

In [197]:
trainDf = prepare_tabulardata(trainLayer,'class',list(trainLayer.columns[5:]),val_split_pct=0.1,batch_size=4)
trainDf.show_batch()

     Cafe_Dist    bank_Dist  bank_count  ...  road_length  temple_Dist  temple_count
4   260.826542  1026.361004           0  ...     0.808671  2207.168953             0
5    34.437106   266.014067           1  ...     1.307601   281.974167             3
9    97.835211   100.777829           8  ...     6.931012   579.517813             0
24  307.660378   625.845031           0  ...     1.020655  1020.072863             0
26   69.521161   148.660262           8  ...     2.665078   492.502957             1

[5 rows x 25 columns]

In [198]:
from arcgis.learn import FullyConnectedNetwork
ANNModel = FullyConnectedNetwork(trainDf)

In [199]:
lr = ANNModel.lr_find()

In [200]:
ANNModel.fit(epochs=500,lr=lr)

epoch     train_loss  valid_loss  time
0         1.428770    1.345911    00:00
1         1.396497    1.348003    00:00
2         1.390197    1.349988    00:00
3         1.383754    1.352326    00:00
4         1.376048    1.353936    00:00
5         1.368469    1.354719    00:00
6         1.365581    1.356970    00:00
7         1.353853    1.357193    00:00
8         1.345845    1.359125    00:00
9         1.337302    1.360634    00:00
10        1.327486    1.362974    00:00
11        1.318817    1.366787    00:00
12        1.309426    1.368468    00:00
13        1.296330    1.366943    00:00
14        1.289532    1.369461    00:00
15        1.276748    1.374667    00:00
16        1.267807    1.374476    00:00
17        1.252907    1.375636    00:00
18        1.235997    1.377774    00:00
19        1.221138    1.378115    00:00
20        1.207469    1.377525    00:00
21        1.197405    1.374041    00:00
22        1.186642    1.366047    00:00
23        1.176723    1.362486    00:00
24        1.159291    1.351102    00:00
25        1.158741    1.355830    00:00
26        1.144239    1.327442    00:00
27        1.133055    1.328259    00:00
28        1.123027    1.326825    00:00
29        1.114320    1.317830    00:00
30        1.096872    1.299598    00:00
31        1.083486    1.301570    00:00
32        1.075101    1.304659    00:00
33        1.062360    1.297270    00:00
34        1.074145    1.269848    00:00
35        1.054577    1.271959    00:00
36        1.052702    1.255015    00:00
37        1.059682    1.262282    00:00
38        1.046703    1.278537    00:00
39        1.024677    1.272964    00:00
40        1.009114    1.249282    00:00
41        1.013603    1.268151    00:00
42        0.995092    1.283400    00:00
43        0.969678    1.276876    00:00
44        0.961191    1.260742    00:00
45        0.940493    1.266427    00:00
46        0.933081    1.238068    00:00
47        0.920223    1.186370    00:00
48        0.896778    1.173428    00:00
49        0.874053    1.153671    00:00
50        0.879943    1.184958    00:00
51        0.874051    1.182338    00:00
52        0.853900    1.191694    00:00
53        0.836592    1.181852    00:00
54        0.804858    1.192726    00:00
55        0.788608    1.167654    00:00
56        0.779065    1.153195    00:00
57        0.777196    1.143266    00:00
58        0.758021    1.134522    00:00
59        0.734710    1.122330    00:00
60        0.714993    1.084539    00:00
61        0.712943    1.029003    00:00
62        0.698658    1.038397    00:00
63        0.707435    1.008344    00:00
64        0.704565    1.160357    00:00
65        0.718268    1.217120    00:00
66        0.693001    1.193235    00:00
67        0.701427    1.204460    00:00
68        0.725750    1.123179    00:00
69        0.713903    1.201175    00:00
70        0.687449    1.227896    00:00
71        0.668387    1.202554    00:00
72        0.659239    1.197368    00:00
73        0.664984    1.226970    00:00
74        0.635873    1.330448    00:00
75        0.638011    1.277467    00:00
76        0.623151    1.358769    00:00
77        0.610320    1.207833    00:00
78        0.597699    1.147061    00:00
79        0.588188    1.377059    00:00
80        0.564408    1.413157    00:00
81        0.554476    1.204907    00:00
82        0.516332    1.173344    00:00
83        0.496562    1.159739    00:00
84        0.484488    1.357361    00:00
85        0.497579    1.502163    00:00
86        0.513287    1.139164    00:00
87        0.500273    1.171842    00:00
88        0.504669    1.255959    00:00
89        0.486259    1.223526    00:00
90        0.501822    1.407359    00:00
91        0.490530    1.273473    00:00
92        0.496907    1.316877    00:00
93        0.492271    1.374450    00:00
94        0.500673    1.374201    00:00
95        0.501906    1.653434    00:00
96        0.525639    1.657438    00:00
97        0.502262    1.359488    00:00
98        0.496662    1.712465    00:00
99        0.484301    1.589838    00:00
100       0.471782    1.425460    00:00
101       0.443753    1.516636    00:00
102       0.425000    1.860081    00:00
103       0.457780    1.787728    00:00
104       0.449000    1.479023    00:00
105       0.440068    1.207162    00:00
106       0.463289    1.596407    00:00
107       0.455605    2.120571    00:00
108       0.457456    1.824841    00:00
109       0.436655    1.543269    00:00
110       0.409004    1.741140    00:00
111       0.406121    1.907255    00:00
112       0.398618    1.755951    00:00
113       0.384398    1.377221    00:00
114       0.375489    1.581975    00:00
115       0.370092    2.085988    00:00
116       0.342135    2.321538    00:00
117       0.357066    2.101589    00:00
118       0.331436    1.917834    00:00
119       0.331477    2.236503    00:00
120       0.339157    2.740029    00:00
121       0.343827    2.348920    00:00
122       0.354769    1.985797    00:00
123       0.350763    2.291116    00:00
124       0.363223    1.894822    00:00
125       0.346585    1.871035    00:00
126       0.343040    1.991984    00:00
127       0.341542    2.029516    00:00
128       0.345562    1.605248    00:00
129       0.377018    2.181515    00:00
130       0.378722    1.733516    00:00
131       0.385811    1.798383    00:00
132       0.355781    1.817665    00:00
133       0.383196    1.480385    00:00
134       0.375092    1.241259    00:00
135       0.376229    1.480624    00:00
136       0.352532    1.501540    00:00
137       0.333205    0.832310    00:00
138       0.318973    0.897323    00:00
139       0.286259    1.018520    00:00
140       0.303360    1.450011    00:00
141       0.297334    1.294285    00:00
142       0.300106    0.878915    00:00
143       0.283866    0.853877    00:00
144       0.319423    1.026697    00:00
145       0.326289    0.992393    00:00
146       0.307513    1.069758    00:00
147       0.311729    1.651211    00:00
148       0.308905    1.400745    00:00
149       0.307948    1.426804    00:00
150       0.286484    1.650809    00:00
151       0.289531    1.202816    00:00
152       0.276916    0.986247    00:00
153       0.285758    0.855968    00:00
154       0.278901    0.817652    00:00
155       0.265665    1.064747    00:00
156       0.272643    1.417306    00:00
157       0.256503    1.418792    00:00
158       0.256094    1.536636    00:00
159       0.270017    1.261145    00:00
160       0.266074    1.387191    00:00
161       0.283747    1.378894    00:00
162       0.277761    1.597806    00:00
163       0.285023    1.740566    00:00
164       0.318821    1.632501    00:00
165       0.304256    0.840100    00:00
166       0.299851    1.274649    00:00
167       0.289033    1.084438    00:00
168       0.278034    1.092032    00:00
169       0.276415    1.058748    00:00
170       0.270363    1.533348    00:00
171       0.287848    1.734701    00:00
172       0.277298    2.078122    00:00
173       0.263918    2.313586    00:00
174       0.274709    1.474858    00:00
175       0.251316    1.624403    00:00
176       0.245224    1.892637    00:00
177       0.233000    1.499726    00:00
178       0.227229    1.219471    00:00
179       0.240173    1.116583    00:00
180       0.241408    1.439291    00:00

181       0.233891    1.965873    00:00
182       0.248713    2.220741    00:00
183       0.268599    1.963784    00:00
184       0.260502    1.648317    00:00
185       0.259070    1.780335    00:00
186       0.252829    1.615147    00:00
187       0.237952    1.763622    00:00
188       0.249716    0.930439    00:00
189       0.258704    2.058302    00:00
190       0.244197    2.338339    00:00
191       0.238685    1.862313    00:00
192       0.221828    1.312971    00:00
193       0.210952    1.203879    00:00
194       0.206727    1.724236    00:00
195       0.199006    2.000283    00:00
196       0.202114    1.487567    00:00
197       0.225331    1.498932    00:00
198       0.238801    1.227400    00:00
199       0.232640    1.778851    00:00
200       0.237659    1.684105    00:00
201       0.257183    1.785650    00:00
202       0.242036    1.551046    00:00
203       0.246474    1.303784    00:00
204       0.230646    1.784245    00:00
205       0.232794    1.386386    00:00
206       0.226891    0.511940    00:00
207       0.257616    0.990320    00:00
208       0.254087    2.034844    00:00
209       0.296891    1.888591    00:00
210       0.276645    1.667834    00:00
211       0.253040    1.372031    00:00
212       0.246522    1.364652    00:00
213       0.247722    1.185462    00:00
214       0.220201    1.057061    00:00
215       0.205804    1.178260    00:00
216       0.185237    1.498785    00:00
217       0.191739    1.156416    00:00
218       0.180392    0.981499    00:00
219       0.174902    0.819381    00:00
220       0.168297    0.602824    00:00
221       0.193304    1.032697    00:00
222       0.195011    1.486523    00:00
223       0.196750    1.263527    00:00
224       0.207620    1.539770    00:00
225       0.204276    1.427727    00:00
226       0.203639    1.481822    00:00
227       0.182130    1.536951    00:00
228       0.163227    1.575671    00:00
229       0.170175    1.397696    00:00
230       0.159464    0.913403    00:00
231       0.153606    1.075633    00:00
232       0.156220    1.064948    00:00
233       0.155935    1.355464    00:00
234       0.155657    1.376765    00:00
235       0.146497    1.088506    00:00
236       0.143942    1.043128    00:00
237       0.164022    1.073707    00:00
238       0.167428    1.068339    00:00
239       0.161784    1.224677    00:00
240       0.174407    1.911704    00:00
241       0.156680    2.280935    00:00
242       0.173217    1.673544    00:00
243       0.156693    1.594319    00:00
244       0.154977    1.354331    00:00
245       0.167387    1.318591    00:00
246       0.150127    1.048855    00:00
247       0.147695    1.078903    00:00
248       0.136014    1.444097    00:00
249       0.129081    1.240728    00:00
250       0.132490    1.613798    00:00
251       0.155917    2.344291    00:00
252       0.151503    2.572778    00:00
253       0.157962    2.279035    00:00
254       0.168243    1.590560    00:00
255       0.166380    1.392328    00:00
256       0.169392    1.554354    00:00
257       0.154046    1.477653    00:00
258       0.155567    1.286189    00:00
259       0.169545    1.324467    00:00
260       0.163801    2.156057    00:00
261       0.166155    2.449886    00:00
262       0.152617    2.657363    00:00
263       0.181726    2.737314    00:00
264       0.181639    2.042977    00:00
265       0.184150    1.639698    00:00
266       0.166914    1.684795    00:00
267       0.149757    1.646741    00:00
268       0.149545    1.694211    00:00
269       0.152584    1.527136    00:00
270       0.139088    1.304968    00:00
271       0.126474    1.295571    00:00
272       0.133066    1.625885    00:00
273       0.133911    2.160450    00:00
274       0.124285    2.378668    00:00
275       0.128922    2.395039    00:00
276       0.139387    2.547671    00:00
277       0.127208    2.378374    00:00
278       0.118622    1.979251    00:00
279       0.122346    1.426132    00:00
280       0.133188    1.589190    00:00
281       0.133657    1.098613    00:00
282       0.140418    1.503529    00:00
283       0.145202    1.807372    00:00
284       0.134878    1.969001    00:00
285       0.131392    2.039025    00:00
286       0.129145    2.094352    00:00
287       0.127555    1.937546    00:00
288       0.120815    1.653916    00:00
289       0.133459    1.841355    00:00
290       0.133660    1.525837    00:00
291       0.127274    1.285122    00:00
292       0.125275    1.698859    00:00
293       0.112615    1.892655    00:00
294       0.100223    2.078789    00:00
295       0.118411    1.844635    00:00
296       0.110070    1.943620    00:00
297       0.100543    2.261285    00:00
298       0.114929    2.279404    00:00
299       0.116409    2.559106    00:00
300       0.114493    1.882315    00:00
301       0.112308    1.640157    00:00
302       0.118957    1.411659    00:00
303       0.126471    1.219328    00:00
304       0.122918    1.347477    00:00
305       0.125398    1.489192    00:00
306       0.133447    1.271702    00:00
307       0.159968    1.262308    00:00
308       0.182308    0.995745    00:00
309       0.177939    1.206007    00:00
310       0.159851    1.275990    00:00
311       0.145360    1.397839    00:00
312       0.129261    1.597495    00:00
313       0.117996    1.543591    00:00
314       0.123767    1.438931    00:00
315       0.118031    1.567384    00:00
316       0.130079    1.677639    00:00
317       0.122814    2.015351    00:00
318       0.116867    1.838080    00:00
319       0.111855    1.796856    00:00
320       0.100121    1.666972    00:00
321       0.101271    1.827592    00:00
322       0.100975    1.915809    00:00
323       0.090818    1.863607    00:00
324       0.103420    2.044936    00:00
325       0.092595    2.062958    00:00
326       0.093177    1.907030    00:00
327       0.088715    1.782828    00:00
328       0.079230    1.859773    00:00
329       0.084390    1.738146    00:00
330       0.080450    1.649327    00:00
331       0.078248    1.568794    00:00
332       0.086828    1.440285    00:00
333       0.080109    1.757642    00:00
334       0.080635    2.295843    00:00
335       0.093212    2.089604    00:00
336       0.092742    1.783972    00:00
337       0.102234    1.680603    00:00
338       0.094303    1.859263    00:00
339       0.084174    1.956472    00:00
340       0.091221    1.868931    00:00
341       0.082407    1.517106    00:00
342       0.074854    1.619772    00:00
343       0.095471    1.404094    00:00
344       0.098743    1.049643    00:00
345       0.091533    0.736204    00:00
346       0.102801    0.808285    00:00
347       0.093991    0.738688    00:00
348       0.105651    1.128529    00:00
349       0.094327    1.574924    00:00
350       0.082934    1.625924    00:00
351       0.076756    1.715508    00:00
352       0.088380    1.796652    00:00
353       0.101182    1.826647    00:00
354       0.094243    1.610856    00:00
355       0.086065    1.385356    00:00
356       0.084541    0.899306    00:00
357       0.090683    0.832356    00:00
358       0.086699    0.865438    00:00
359       0.083503    1.054142    00:00
360       0.079484    1.174491    00:00
361       0.074568    1.455571    00:00
362       0.068814    1.533193    00:00

363       0.066093    1.377565    00:00
364       0.063283    1.279422    00:00
365       0.073740    1.549785    00:00
366       0.072136    1.264640    00:00
367       0.086761    1.142715    00:00
368       0.078119    0.993907    00:00
369       0.082348    1.008787    00:00
370       0.075924    0.992364    00:00
371       0.081804    1.309104    00:00
372       0.084086    1.324076    00:00
373       0.081759    1.317326    00:00
374       0.074584    1.236778    00:00
375       0.072153    1.179441    00:00
376       0.066967    1.059366    00:00
377       0.061623    1.214007    00:00
378       0.074305    1.338428    00:00
379       0.067974    1.870152    00:00
380       0.066792    2.138858    00:00
381       0.063766    1.949791    00:00
382       0.066881    1.958225    00:00
383       0.080712    1.729353    00:00
384       0.075403    1.766865    00:00
385       0.071891    1.913878    00:00
386       0.065795    1.574536    00:00
387       0.078532    1.831659    00:00
388       0.077319    1.697879    00:00
389       0.077816    1.843887    00:00
390       0.080148    1.475821    00:00
391       0.077444    1.530386    00:00
392       0.072244    1.470764    00:00
393       0.067280    1.287555    00:00
394       0.075621    1.589497    00:00
395       0.072275    1.477898    00:00
396       0.075890    1.286615    00:00
397       0.082561    1.162337    00:00
398       0.086674    1.146724    00:00
399       0.086912    1.216637    00:00
400       0.082064    1.062436    00:00
401       0.077378    0.887565    00:00
402       0.079932    0.922220    00:00
403       0.082888    0.973412    00:00
404       0.076244    1.037225    00:00
405       0.068882    1.196184    00:00
406       0.078171    1.292284    00:00
407       0.068324    1.225854    00:00
408       0.071446    1.209040    00:00
409       0.071927    1.153393    00:00
410       0.066725    1.378356    00:00
411       0.063992    1.554853    00:00
412       0.061922    1.421621    00:00
413       0.057096    1.581725    00:00
414       0.068217    1.653475    00:00
415       0.063654    1.637685    00:00
416       0.058639    1.497579    00:00
417       0.055196    1.752340    00:00
418       0.050519    1.761760    00:00
419       0.051811    1.900424    00:00
420       0.059475    1.710995    00:00
421       0.065242    1.621852    00:00
422       0.066728    1.637320    00:00
423       0.059879    1.681253    00:00
424       0.054765    1.516767    00:00
425       0.047890    1.440644    00:00
426       0.051571    1.208360    00:00
427       0.053838    1.295382    00:00
428       0.048779    1.593618    00:00
429       0.045084    1.637357    00:00
430       0.064982    1.469953    00:00
431       0.061113    1.557615    00:00
432       0.054522    1.334201    00:00
433       0.056742    1.420293    00:00
434       0.051299    1.271446    00:00
435       0.058952    1.438391    00:00
436       0.063225    1.146741    00:00
437       0.066549    1.163296    00:00
438       0.061894    1.258525    00:00
439       0.056506    1.492998    00:00
440       0.055216    1.370216    00:00
441       0.056762    1.327448    00:00
442       0.067891    1.175033    00:00
443       0.065017    1.289974    00:00
444       0.059455    1.295601    00:00
445       0.065201    0.974046    00:00
446       0.058853    1.091157    00:00
447       0.054172    1.016948    00:00
448       0.068052    0.921880    00:00
449       0.061844    1.056828    00:00
450       0.067090    1.203396    00:00
451       0.072444    1.165206    00:00
452       0.067779    1.042877    00:00
453       0.072668    0.971612    00:00
454       0.065710    0.999563    00:00
455       0.064378    0.965652    00:00
456       0.071713    0.897161    00:00
457       0.064094    1.095259    00:00
458       0.059423    1.017260    00:00
459       0.057149    1.013907    00:00
460       0.051109    0.943333    00:00
461       0.046676    0.901930    00:00
462       0.057856    0.964712    00:00
463       0.053368    1.107601    00:00
464       0.052017    0.937672    00:00
465       0.047283    1.073943    00:00
466       0.045495    1.178756    00:00
467       0.044641    1.113327    00:00
468       0.052949    1.194801    00:00
469       0.049537    1.217164    00:00
470       0.045539    1.228436    00:00
471       0.048312    1.038404    00:00
472       0.053673    1.135476    00:00
473       0.053626    1.085486    00:00
474       0.053102    1.142451    00:00
475       0.078543    1.064980    00:00
476       0.080707    0.997678    00:00
477       0.077575    1.159452    00:00
478       0.071498    1.122920    00:00
479       0.065600    1.177897    00:00
480       0.059495    1.049417    00:00
481       0.063390    0.978767    00:00
482       0.059041    0.994904    00:00
483       0.058753    1.015936    00:00
484       0.053565    1.044395    00:00
485       0.061167    0.985868    00:00
486       0.057412    1.078634    00:00
487       0.053227    1.178539    00:00
488       0.057884    1.202915    00:00
489       0.052625    1.134797    00:00
490       0.050740    1.260167    00:00
491       0.057694    1.093126    00:00
492       0.051457    1.127921    00:00
493       0.046030    1.050496    00:00
494       0.059603    1.105447    00:00
495       0.054612    1.114296    00:00
496       0.051949    1.098109    00:00
497       0.055214    1.066909    00:00
498       0.053978    1.082113    00:00
499       0.049036    1.101597    00:00

In [202]:
ANNModel.show_results(30)
# ANNModel.score()

    Cafe_Dist   bank_Dist  ...  temple_count  prediction_results
0   87.681033  608.449975  ...             0                   1
1  319.210934  586.421240  ...             1                   1
2  541.972834  761.204143  ...             0                   1

[3 rows x 26 columns]

In [215]:
predictedDf = ANNModel.predict(trainLayer[list(trainLayer.columns[5:])],prediction_type='dataframe')

C:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\Lib\site-packages\arcgis\learn\models\_layer_learner.py:406: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe["prediction_results"] = self._df_predict(processed_dataframe.copy())

In [239]:
predictedLayer = GeoAccessor.from_featureclass('samplepoint')
predictedLayer['predicted'] = predictedDf['prediction_results']
predictedLayer

    OBJECTID  ...  predicted
0          1  ...          1
1          2  ...          1
2          3  ...          4
3          4  ...          1
4          5  ...          1
5          6  ...          2
6          7  ...          2
7          8  ...          1
8          9  ...          1
9         10  ...          3
10        11  ...          1
11        12  ...          1
12        13  ...          2
13        14  ...          3

[14 rows x 6 columns]

In [242]:
predictedLayer.spatial.to_featureclass('Default.gdb/predicted')

'D:\\Student\\AGP\\arcgis-notebooks-tutorial\\notebook_basics\\Default.gdb\\predicted'

In [241]:
arcpy.env.workspace

'Default.gdb'

In [136]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
standard1 = StandardScaler()

In [142]:
trainNorm = standard1.fit_transform(trainLayer[list(trainLayer.columns[5:])])

In [155]:
df = pd.DataFrame(trainNorm,columns=list(trainLayer.columns[5:]))
normDf = pd.concat([trainLayer['class'],df],axis=1)
normDf

    class  hotel_count  hotel_Dist  l_trans_Dist  road_Length
0       1    -0.562299   -0.171612     -0.202102    -0.654966
1       1    -0.488076   -0.150347     -0.134861     0.242431
2       4    -0.562299    5.628136      5.630165    -1.401342
3       2    -0.413852   -0.221642     -0.213616     0.196603
4       1    -0.562299   -0.166157     -0.144797    -1.009846
5       2    -0.339629   -0.227462     -0.210332    -0.768304
6       3     2.629311   -0.215228     -0.211377     2.360593
7       1    -0.562299   -0.213044     -0.206140    -0.822942
8       1    -0.488076   -0.179364     -0.160280    -0.563161
9       3    -0.042735   -0.210294     -0.211169     1.954110
10      1    -0.265405   -0.226527     -0.208755    -0.581270
11      2    -0.488076   -0.166980     -0.206932    -0.274651
12      2    -0.562299   -0.229071     -0.221665     0.627916
13      3    -0.488076   -0.216285     -0.216398     0.762352
14      4    -0.562299   -0.177101     -0.180147    -0.957792
15      3     0.328383   -0.229414     -0.218968     0.829831
16      2     0.699500   -0.221362     -0.206958     0.530436
17      1    -0.562299   -0.090025     -0.132236    -1.045269
18      4    -0.562299    0.349820      0.352092    -1.401342
19      3    -0.116958   -0.211414     -0.223209     1.661737
20      2     2.629311   -0.224422     -0.219639     1.815452
21      4    -0.488076   -0.179141     -0.190095    -0.436251
22      3     2.851981   -0.234693     -0.215430     1.608548
23      4    -0.562299   -0.153605     -0.191891    -0.052380
24      4    -0.488076   -0.153475     -0.194674    -0.907221
25      1    -0.562299   -0.180538     -0.186073    -0.222125
26      3     0.328383   -0.217961     -0.201960    -0.111120
27      4    -0.562299   -0.066769     -0.143192    -1.015492
28      1    -0.413852   -0.179239     -0.155583    -0.211394
29      3    -0.562299   -0.205743     -0.211416     0.539542
30      2     2.109746   -0.221567     -0.209074    -0.052839
31      2     0.031489   -0.231884     -0.193961     0.345284
32      3    -0.339629   -0.205591     -0.159329    -0.985129

In [152]:
normDf[list(normDf.columns[1:])]

           0         1         2         3
0  -0.562299 -0.171612 -0.202102 -0.654966
1  -0.488076 -0.150347 -0.134861  0.242431
2  -0.562299  5.628136  5.630165 -1.401342
3  -0.413852 -0.221642 -0.213616  0.196603
4  -0.562299 -0.166157 -0.144797 -1.009846
5  -0.339629 -0.227462 -0.210332 -0.768304
6   2.629311 -0.215228 -0.211377  2.360593
7  -0.562299 -0.213044 -0.206140 -0.822942
8  -0.488076 -0.179364 -0.160280 -0.563161
9  -0.042735 -0.210294 -0.211169  1.954110
10 -0.265405 -0.226527 -0.208755 -0.581270
11 -0.488076 -0.166980 -0.206932 -0.274651
12 -0.562299 -0.229071 -0.221665  0.627916
13 -0.488076 -0.216285 -0.216398  0.762352
14 -0.562299 -0.177101 -0.180147 -0.957792
15  0.328383 -0.229414 -0.218968  0.829831
16  0.699500 -0.221362 -0.206958  0.530436
17 -0.562299 -0.090025 -0.132236 -1.045269
18 -0.562299  0.349820  0.352092 -1.401342
19 -0.116958 -0.211414 -0.223209  1.661737
20  2.629311 -0.224422 -0.219639  1.815452
21 -0.488076 -0.179141 -0.190095 -0.436251
22  2.851981 -0.234693 -0.215430  1.608548
23 -0.562299 -0.153605 -0.191891 -0.052380
24 -0.488076 -0.153475 -0.194674 -0.907221
25 -0.562299 -0.180538 -0.186073 -0.222125
26  0.328383 -0.217961 -0.201960 -0.111120
27 -0.562299 -0.066769 -0.143192 -1.015492
28 -0.413852 -0.179239 -0.155583 -0.211394
29 -0.562299 -0.205743 -0.211416  0.539542
30  2.109746 -0.221567 -0.209074 -0.052839
31  0.031489 -0.231884 -0.193961  0.345284
32 -0.339629 -0.205591 -0.159329 -0.985129

In [156]:
trainDf = prepare_tabulardata(normDf,'class',list(normDf.columns[1:]),val_split_pct=0.2,batch_size=4)
trainDf.show_batch()

C:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\Lib\site-packages\arcgis\learn\_utils\tabular_data.py:876: UserWarning: Dataframe is not spatial, Rasters and distance layers will not work
  warnings.warn("Dataframe is not spatial, Rasters and distance layers will not work")

    class  hotel_Dist  hotel_count  l_trans_Dist  road_Length
3       2   -0.221642    -0.413852     -0.213616     0.196603
5       2   -0.227462    -0.339629     -0.210332    -0.768304
21      4   -0.179141    -0.488076     -0.190095    -0.436251
26      3   -0.217961     0.328383     -0.201960    -0.111120
29      3   -0.205743    -0.562299     -0.211416     0.539542

In [157]:
from arcgis.learn import MLModel
DTree = MLModel(trainDf,'sklearn.tree.DecisionTreeClassifier')

In [158]:
DTree.fit()
DTree.show_results(30)

    class  hotel_Dist  hotel_count  l_trans_Dist  road_Length  class_results
1       1   -0.150347    -0.488076     -0.134861     0.242431              2
4       1   -0.166157    -0.562299     -0.144797    -1.009846              4
7       1   -0.213044    -0.562299     -0.206140    -0.822942              4
8       1   -0.179364    -0.488076     -0.160280    -0.563161              2
23      4   -0.153605    -0.562299     -0.191891    -0.052380              2
28      1   -0.179239    -0.413852     -0.155583    -0.211394              1
32      3   -0.205591    -0.339629     -0.159329    -0.985129              1